@font-face {
font-family: leaguegothic-regular;
src: url(fonts/LeagueGothic-Regular.otf);
}

/*@font-face {
font-family: leaguegothic-bold;
src: url(fonts/Delicious-Roman-B.otf);
}*/

@font-face {
font-family: leaguegothic-italic;
src: url(fonts/LeagueGothic-Italic.otf);
}

@font-face {
font-family: leaguegothic-condensedregular;
src: url(fonts/LeagueGothic-CondensedRegular.otf);
} 
/* reset */
* {
	margin: 0;
	padding: 0;
	border: 0;
}
#stretch {
	max-width:100%;
	height: auto;
	width: auto;
}
body {
	/*background: #CDB99C;*/
	font-family: 'leaguegothic-regular';
	margin: 0;
	background-image:url(img/background-camo.png);

}
h1 { /*headings*/
	font-size: 200%;
	text-align:center;
	padding-top:2%;
}
header { /*headings*/
	font-size: 150%;
	/*background: url(img/grey-camo.jpg); /*#CDB99C;*/
	width:100%;
	height:100px;
}
#header-inner {
	max-width: 2000px;
	margin: auto auto;
}
#logo {
	width: 400px;
	height: 100px;
	padding-left:75px;
	display: block;
	background: url(img/GTB.png) no-repeat center;
	
	
}
nav {
	float:right;
	padding-right:20px;
}
#menu-icon {
	display: hidden;
	width: 40px;
	height: 40px;
	background: url(img/nav.png) center; /*img doesn't exist*/
}
a:hover#menu-icon{
	border-radius: 4px 4px 0 0;
}
ul {
	list-style-type: none;
}
nav ul li {
	display: inline-block;
	float: left;
	padding: 0px 10px 0 10px; 
	margin-top: -40px;
}
nav ul li a {
	/* color: ; color when link is not clicked*/
	text-decoration: none;
}
nav ul li a:link {
	color: red;
	
}
a:link{
	color:red;
}
a:hover{
	text-decoration: underline;

}
.current{
	/*color: ;*/
}
.banner{
	width:100%;
}
h3 { /*emoji subheadings*/
	font-size:150%;	
	padding: 2%;
}
h4 { /*quote content*/
	font-size:125%;
	font-weight:200;
}
h5 { /*emojis*/
	font-size: 400%;
	padding-left: 2.5%
}
.one-fourth{
	width: 25%;
	float:left;
	text-align: center;
	margin-top:-5px;
}
#Fitness{
	background-color: #D3D3D3;
	opacity: 1;
}
#Fitness:hover{
	opacity:.75;
}
#Goals{
	background-color: #D3D3D3;
	opacity: 1;
}
#Goals:hover{
	opacity:.75;
}
#Nutrition{
	background-color: #D3D3D3;
	opacity: 1;
}
#Nutrition:hover{
	opacity:.75;
}
#Experience{
	background-color: #D3D3D3;
	opacity: 1;
}
#Experience:hover {
	opacity:.75
}
aside {
	float:left;
	text-align: left;
	width: 50%;
}
#Merch-Header {
	padding-left: 26%;
	font-size: 150%
}
#Motiv-Quotes-Header {
	text-align:right;
	font-size:125%;
	padding-right: 15%;
}
.inner-wrapper-3 {
	border: black;
}
.class { 
	text-align:center;
}
.social {
	list-style-type: none;
	text-align: center;
}
.social li {
	display: inline;
}
.social i {
	font-size: 75px;
	margin:1%;
	padding: 5% 5% 5% 4%;
}
.social i:visited{
	color: #F80302;
}
.social i:hover{
	color: #990000;
}
.second {
	text-align:center;
}



